{% extends 'base.html' %}{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            {% if user.profile_pic_path %}
            <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="img-thumbnail"> {% else %}
            <form action="{{url_for('profile.update_pic',username=user.username)}}" method="post" enctype="multipart/form-data">
                <input type="file" name="photo" class="form-control" required>
                <input type="submit">
            </form>
            {% endif %}
        </div>
        <div class="col-md-5" method="POST">
            <div class="mb-3">
                <p>Name: {{ user.username }}</p>
            </div>
            <div class="mb-3">
                {% if user.bio %}
                <p>Bio: {{ user.bio }}</p>
                {% else %}
                <p>No bio, <a href="{{ url_for('profile.update_profile',username = user.username)}}">add bio?</a> {% endif %}
            </div>
            <h2>Contact Information</h2>
            <div class="mb-3">
                <p>Email: {{ user.email }}</p>
            </div>
            <div class="mb-3">
                {% if user.mobile %}
                <p>Mobile Number: {{ user.mobile }}</p>
                {% else %}
                <p>There is no saved mobile number,<a href="{{ url_for('profile.update_profile',username = user.username)}}">add one?</a></p>
                {% endif %}
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <h2><u>Blogs</u></h2>
            <div class="card">
                <h5 class="card-header">BLOG HEADING</h5>
                <div class="card-body">
                    <h5 class="card-title">Blog meta-title</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-secondary">See Blog</a>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <h2><u>Contributions</u></h2>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
{% endblock %}