{% extends 'base.html' %}{% block content%}
<div class="login">
    <form class="container">
        {{ form.hidden_tag()}}
        <div class="mb-3">
            {{ form.email.label(class="form-label")}}{{ form.email(class="form-control")}}
        </div>
        <div class="mb-3">
            {{ form.password.label(class="form-label")}}{{ form.password(class="form-control")}}
        </div>
        {{form.submit(class="btn")}}
        <div class="mb-3">
            <p>Don't have an account? Register <a href="{{ url_for('auth.register')}}">here</a></p>
        </div>
    </form>
    <div class="page-circle-1"></div>
    <div class="page-circle-2"></div>
    <div class="page-circle-3"></div>

</div>
{% endblock %}