{% extends 'base.html'%}{% block content %} {% with messages = get_flashed_messages(category_filter = ["success"]) %} {% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %} {% endwith %}
<div class="registration">
    <form class="container" method="POST">
        {{ form.hidden_tag()}}
        <div class="mb-3">
            {{ form.username.label(class="form-label")}}{{ form.username(class="form-control")}}
        </div>
        <div class="mb-3">
            {{ form.email.label(class="form-label")}}{{ form.email(class="form-control")}}
        </div>
        <div class="mb-3">
            {{ form.password.label(class="form-label")}}{{ form.password(class="form-control")}}
        </div>
        <div class="mb-3">
            {{ form.confirm_password.label(class="form-label")}}{{ form.confirm_password(class="form-control")}}
        </div>
        {{ form.submit}}
    </form>
</div>{% endblock %}