@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}

.basics {
    background-color: #E6EED6;
}

.page1-content {
    background: url('../images/Blogspot2.jpg');
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.page1-content .btn {
    background-color: #E6EED6;
}

.page1-content div {
    background-color: rgba(0, 0, 0, 0.486);
    color: white;
    padding: 5px;
}

.registration {
    background: url('../images/Blogspot\ 1.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration form .form-control {
    background-color: #E6EED6;
}

.submit {
    background-color: #E6EED6;
}