<div class="basics container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h1><span class="badge">        <img src="{{ url_for('static',filename='images/blogpost logo.png')}}" width="70px"></span>BLOG SPOT</h1>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <h2>Help</h2>
            <p></p>
        </div>
        <div class="col-md-2">
            <h2>Community</h2>
        </div>
        <div class="col-md-2">
            <h2>Developers</h2>
        </div>
    </div>
</div>