{% extends 'base.html' %} {% block content %}
<div class="page1-content">
    <div>
        <div class="inside">
            <h1>Showcase your ideas today...</h1>
            <a style="text-decoration: none; color: black;" href="{{ url_for('auth.register')}}">
                <a class="btn" href="{{url_for('blog.create_blog')}}">Create Blog</a>
            </a>
        </div>

        <div>
            <h1>Feed your ideas today...</h1>
            <a style="text-decoration: none; color: black;" href="{{ url_for('auth.register')}}">
                <a class="btn" href="{{url_for('blog.show_blogs')}}">See Blogs</a>
            </a>
        </div>
    </div>
</div>
{% block footer %}{% include 'footer.html'%}{% endblock %} {% endblock %}